<footer class="footer">
			<div class="footer__grid">
				<div class="footer__grid-column">
					<h2>S kým spolupracuji</h2>
					<ul class="footer__links">
						<li><a href="https://www.filianek.cz/">Filiánek, z.s.</a></li>
						<li><a href="https://www.stabilstudio.cz/">Stabil studio, s.r.o.</a></li>
						<li><a href="https://kaveeska.cz/vojtova-volnocasove-centrum/nabidka-kurzu-a-aktivit-pro-seniorky-a-seniory/">KáVéEska, p.o.</a></li>
						<li><a href="https://www.zabovresky.cz/aktivity-pro-seniory-v-roce-2024/ms-21504/p1=21504">MČ Brno - Žabovřesky</a></li>
					</ul>
				</div>

				<div class="footer__grid-column">
					<h2>Mohlo by vás zajímat</h2>
					<ul class="footer__links">
						<li><a href="/tanec/">Kam se mnou za tancem</a></li>
						<li><a href="/cviceni/">Kde si se mnou zacvičit</a></li>
						<li><a href="/pobyty/">Kam s námi na pobyt</a></li>
					</ul>
				</div>

				<div class="footer__grid-column">
					<h2>Kontakt</h2>
					<p>
						<span class="footer__title">Telefon:</span><br>
						+420 605 961 092
					</p>
					<p>
						<span class="footer__title">E-mail:</span><br>
						<a href="mailto:lenka.krtecek.kotkova@gmail.com">lenka.krtecek.kotkova@gmail.com</a>
					</p>
				</div>
			</div>

			<div class="footer__copyright">
				&copy;2024, Lenka Kotková
			</div>
		</footer>


	</div><!-- wrapper -->

