<div class="wrapper">

		<header class="header">
			<div class="header__contact">
				<a class="header__contact-email" href="mailto:lenka.krtecek.kotkova@gmail.com">lenka.krtecek.kotkova@gmail.com</a>
				<span class="header__contact-phone">Tel. +420 605 961 092</span>
			</div>

			<div class="header__inner">
				<div class="header__left">
					<div class="header__logo">Lenka Kotková</div>
                    <div class="header__activity">Pohyb pro seniory</div>
					
				</div>

