---
layout: sablona_obyc.njk
---

<div class="wrapper">
	<main class="main">
		{{ content | safe }}
	</main>

	<aside class="aside">
		<img src="./../images/lenka1.jpg" alt="pokus">
	</aside>
</div>

