---
layout: /layouts/hlavni_sablona.njk
---

<!-- hlavička stránky -->
{% include 'partials/header.njk' %}

<!-- menu -->
{% include 'partials/menu.njk' %}

<!-- menu - obrázek-->
{% include 'partials/header_image_obyc.njk' %}


<main class="main">

			<!--drobečková navigace-->
		<nav aria-label="Breadcrumb navigation" >
			<ol class="breadcrumb">
			<li class="breadcrump__item"><a href="/">Domů</a></li>
			<li>-</li>
			<li class="breadcrump__item"><a href="/blog/">Blog</a></li>
			<li>-</li>
			<li class="breadcrump__item">Článek</li>    
			</ol>
		</nav>
    
    <!-- zde se vloží obsah šablony a nebo šablona, která používá tuto šablonu -->

<section>
			<article class="article">

				<h1 class="article__title">{{ title }}</h1>

				<p class="article__meta">Publikováno {{ page.date.toLocaleString('cs-CZ') }}</p>
				<div class="article__content">

					<div class="article__text">

						<p class="article__perex">{{ perex }}</p>

						{{ content| safe }}

					</div>

					<img class="article__image" src="/images/{{ foto }}" alt="{{ alt }}">

				</div>

			</article>

		</section>

</main>

<!-- vložíme patičku stránky-->
{% include 'partials/footer.njk' %}